/* General Styles */
body {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
}

li {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

code {
    font-size: 16px;
    padding: 0.5rem;
}

div.sourceCode {
    border-radius: 10px;
}

/* Headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

h1, .h1 {
    font-size: 36px !important;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2, .h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Links */
p a {
    color: #3B70FE !important;
    text-decoration: none;
}

p a:hover, p a:active, p a:visited {
    color: #000000 !important;
    text-decoration: none;
}

.listing-title a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #000000 !important;
    text-decoration: none;
}

.listing-subtitle a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #000000 !important;
    text-decoration: none;
}

.listing-date::before {
    content: '📅';
}

.listing-reading-time::before {
    content: '🕰️';
}

.listing-colab {
    max-width: 8em;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover {
    color: #3B70FE;
}

.nav-link.active .menu-text {
    color: #0a6320 !important;
    font-weight: bold;
}

/* Images and Videos */
.content img, .content video {
    max-width: 100%;
}

.content video {
    max-width: 100%;
    display: block;
    margin: 1.2rem auto;
}

img.thumbnail-image {
    height: 100px;
    width: auto;
    object-fit: contain !important;
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 1rem auto; /* Center and add spacing */
}

div.quarto-post .thumbnail img {
    margin-top: 0px;
    margin-bottom: 0.4rem;
}

/* Tables */
table {
    max-width: 100%;
    overflow-x: auto;
}

/* Titles and Metadata */
#title-block-header .title, .quarto-title .title {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 36px;
}

.quarto-title .description {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 20px;
}

div.quarto-post .metadata {
    color: #000000;
    margin-bottom: 0.5em;
    font-size: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: baseline;
}

/* Navigation */
.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
}

.sidebar-navigation a {
    color: #241e1e;
}

/* Breadcrumbs */
.breadcrumb {
    display: none;
}

/* Callouts */
.callout.callout-style-default {
    background-color: #fff;
}

/* Animations */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

/* Responsive Design */
@media (max-width: 991.98px) {
    .content .quarto-banner-title-block {
        color: #000000 !important;
        margin-top: 20px !important;
    }

    #title-block-header.quarto-title-block.default .quarto-title .title {
        color: #000000 !important;
        font-size: 24px !important;
    }
}

/* Miscellaneous */
.thumbnail {
    margin: 0px;
}

.body {
    margin: 0px;
}

div#quarto-toc-toggle {
    visibility: hidden;
}

.zindex-over-content, nav.quarto-secondary-nav, .navbar-title {
    display: none;
}

/* Hide Quarto post meta (Published date and label) */
.quarto-title-meta,
.quarto-title-meta-heading,
.quarto-title-meta-contents,
.quarto-title-meta .date {
    display: none !important;
}